* {
    margin: 0px;
}

#login {
    width: 370px;
    height: 350px;
    text-align: center;
    margin: 380px auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border-top: 80px;
    padding-top: 100px;
    


    
}

body {
    background: url(../img/awa.jpg) no-repeat;
    
    
}